---
import type { CollectionEntry } from 'astro:content';

interface Props {
  post: CollectionEntry<'posts'>;
}

const { post } = Astro.props;
---

<a href={`/posts/${post.slug}`} class="post-card">
  <h2>{post.data.title}</h2>
  <p>by {post.data.author}</p>
  <p class="post-card-date">
    {post.data.pubDate.toLocaleDateString('en-gb', {
      year: 'numeric',
      month: 'long',
      day: 'numeric',
    })}
  </p>
  <p>{post.data.description}</p>
</a>
